.slotholder{
    position: fixed !important;
}

.fullwidthlayout footer{
    position: absolute;
    z-index: 1;
}

.nopagetitle #firstcontentcontainer{
    display: none;
}

.welcome-container{
    margin: 40px 0;
    padding: 30px 0 60px;
    text-align: center;

}

.welcome-container h1{
    font-size: 55px;
    border-bottom: 3px solid white;
    width: 70%;
    display: block;
    margin: 30px auto;
    padding-bottom: 10px;

}

.welcome-container p{
    font-size: 16px;
}

.our-solutions-header h2{
    text-align: center;
    border-bottom: 3px solid black;
    width: 40%;
    margin: 0 auto 60px !important;
    padding-bottom: 15px;
}

.our-solutions h3{
    text-align: center;
    font-size: 24px;
}

.our-solutions p{
    text-align: justify;
}

.home-responsive-container{
    text-align: center;
    padding: 95px 0 510px;
}

.home-responsive-container h2{
    border-bottom: 3px solid white;
    width: 50%;
    margin: 0 auto 20px !important;
    padding-bottom: 20px;
}

.home-responsive-container h3{
    margin-bottom: 10px;
}

.home-responsive-container p{
    margin: 0;
    font-size: 16px;
}

.home-responsive-container img{
    margin-top: 40px;
}

.latest-projects{
    text-align: center;
}

.latest-projects h2{
    border-bottom: 3px solid white;
    width: 40%;
    display: block;
    margin: 20px auto;
    padding-bottom: 10px;
}

.vc_btn3.vc_btn3-color-white.vc_btn3-style-modern{
    background: #800020;
    border: none;
    color: white;
}

.home-portfolio-button a{
    width: 18%;
    background: #800020;
    margin: 20px auto;
    color: white;
}

.wpb_wrapper .servicewrap{
    line-height: 26px;
    color: #fff !important;
    font-size: 20px;
    margin: 0px !important;
    font-weight: 700 !important;
}

.services-heading h1{
    display: block;
    clear: both;
    width: 80%;
    text-align: center;
    line-height: 75px;
    margin: 0 auto;
}

.responsive.container .wpb_single_image.wpb_content_element.vc_align_left{
    margin-bottom: 0;
}

.service-header h2{
    width: 100%;
    border-bottom: 3px solid black;
    text-align: center;
    padding-bottom: 10px;
    margin: 0 auto;
}

.service-container h4{
    color: black;
    text-align: center;
}

.service-container ul{
    margin: 0;
}

.service-container ul{
    text-align: center;
    list-style: none;
}

.responsive-header h2{
    width: 100%;
    border-bottom: 3px solid white;
    text-align: center;
    color: white !important;
    padding-bottom: 10px;
}

.responsive.container h3{
    color: white !important;
    font-weight: 700;
}

.like-what-you-see h3{
    width: 92%;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
}

.like-what-you-see-button{
    margin: 0 auto;
    display: block;
    width: 15%;
}

.responsive.container p{
    color: white !important;
}

.responsive-text-block{
    margin-top: 100px;
}

.home-service-container h4, .home-service-container h5{
    color: #fff;
}

.porfolio-button{
    display: block;
    width: 20%;
    margin: 50px auto;
}

.portfolio-header{
    text-align: center;
    font-weight: 700 !important;
    border-bottom: 3px solid white;
    padding-bottom: 10px;
}

.service-header h2{
    text-align: center;
}

.page-id-97 .top50{
    margin-top: 0 !important;
}

.page-id-97 .wpb_content_element, ul.wpb_thumbnails-fluid{
    margin-bottom: 0;
}

.footer .widget_nav_menu ul li.current_page_item > a{
    color: white !important;
}

.footer .widget{
    margin-bottom: 0;
}

.footerwrap.wide{
    padding-top: 15px;
}

.solutions-image{
    width: 75%;
    margin: 0 auto;
    display: block;
}



@media screen and (max-width: 769px) {
    .hephaistos.tparrows{
        display: none !important;
    }

    .home-responsive-container h2{
        width: 70%;
    }
}

@media screen and (max-width: 415px) {

    .responsive-header h2{
        position: inherit;
    }

    .like-what-you-see-button{
        width: 40%;
    }

    .logo img{
        width: 70% !important;
    }

    h1{
        font-size: 24px !important;
        line-height: 30px !important;
        width: 100% !important;
    }

    h2{
        font-size: 22px !important;
        width: 100% !important;
    }

    h3{
        font-size: 20px !important;
        width: 100% !important;
    }

    h4{
        font-size: 17px !important;
    }

    h5{
        font-size: 15px !important;
    }

    p{
        font-size: 13px !important;
    }
}
